.login-container {
  border: 1px solid gray;
  padding: 2% 2% 5% 2%;
  width: 30%;
}

h2 {
  font-weight: normal;
}

.signup-container {
  padding: 2% 2% 5% 2%;
  border: 1px solid gray;
  width: 30%;
}

.main-container {
  border: 1px solid lightgray;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  top: 22.5%;
  left: 16.5%;
  width: 50%;
  height: 40%;
  padding: 3%;
}

.username {
  height: 10%;
  width: 80%;
}

.password {
  height: 10%;
  width: 80%;
  margin-bottom: 15%;
}

.login-button {
  height: 10%;
  width: 80%;
}

.signup-button {
  width: 80%;
  height: 10%;
}

.login-button:hover {
  background-color: rgb(119, 197, 245);
  outline: none;
}

.signup-button:hover {
  background-color: rgb(119, 197, 245);
  outline: none;
}
