body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: gray;
  width: 200px;
  margin: auto;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin: auto 0
}

.todo {
  background-color: white;
  border: 1px solid darkgray;
  margin: 20px 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-weight: lighter;
  padding: 10px 10px 20px 10px;
}

.addTitle {
  height: 20px;
}

.item {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item p {
  margin: 0%;
  padding: 0% 10px 0% 10px;
}

#todoAdder {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  border-collapse: collapse;
}

.itemAdder {
  display: flex;
  flex-flow: row wrap;
  border-collapse: collapse;
}

.addItem {
  height: 20px;
  width: 363px;
}

#todo-list-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: flex-start;
}

.task-header {
  display: flex;
	flex-flow: row wrap;
	justify-content:space-between
}

