body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: gray;
  width: 200px;
  margin: auto;
}

h2 {
  font-weight: 500;
  text-align: center;
  margin: auto 0;
}

.logout-icon {
  width: 2.5%;
  position: fixed;
  top: 1%;
  right: 0.5%;
}

.todo {
  background-color: white;
  border: 1px solid darkgray;
  margin: 20px 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-weight: lighter;
  padding: 10px 10px 20px 10px;
  height: fit-content;
}

img,
input[type='checkbox'] {
  cursor: pointer;
}

img {
  opacity: 60%;
}

img:hover {
  opacity: 100%;
}

.addTitle {
  height: 20px;
}

.item {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* height: 19px; */
  width: 98%;
}

.item:hover {
  background-color: rgb(241, 241, 241);
}

.item p {
  margin: 0%;
  font-size: 1.2vw;
  font-weight: normal;
  text-size-adjust: auto;
  color: rgba(0, 0, 0, 0.9);
}

.todo-adder {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  border-collapse: collapse;
}

.item-adder {
  display: flex;
  flex-flow: row wrap;
  border-collapse: collapse;
}

.addItem {
  height: 20px;
  width: 363px;
}

.todo-list-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: flex-start;
  border-top: 2px solid grey;
  max-height: 32vw;
  overflow-y: scroll;
}

.todo-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item img {
  visibility: hidden;
  width: 20px;
}

.item:hover img {
  visibility: visible;
}

.item > img:hover {
  transform: scale(1.3);
}

.todo-header h2,
.item span {
  outline: none;
}

.item-container {
  max-height: 13.5vw;
  overflow-y: scroll;
}

.edit-img {
  width: 30px;
}

.remove-img {
  width: 30px;
}

.add-icon {
  width: 20px;
  border: 1px solid lightgray;
}

.search-bars {
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
}

.title-search,
.task-search {
  width: 30%;
  height: 2vw;
}
